body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.description{
  height: 80px !important;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.thumbnail img{
  /* max-height: 280px; */
}